

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}

.header{
    display: flex;
    height: 62px;
    background-color: #111727;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 71px;

    /* box-shadow: 10px 5px 5px red; */
}

.logo{
    font-weight: bold;
    font-size: 32px;
}

.nav-link a{
    margin-left: 93px;
    font-weight: 400;
}

.important{
    border: 1px solid #FFF;
    padding: 4px 10px;
    border-radius: 7px;
}